@font-face {
  font-family: 'Type of Chalk';
  font-style: normal;
  font-weight: normal;
  src: url('Fonts-Chalk.woff') format('woff');
  }
@font-face {
  font-family: 'Black-Hawk';
  font-style: normal;
  font-weight: normal;
  src: local('Black-Hawk'), url('Black-Hawk.ttf') format('truetype');
  }