@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  /* color: var(--blueish-white); */
  color: black;
  font-family: Work Sans;
  --dark-blue: #021f3d;
  --night-blue: #021733;
  --black-blue: #010713;
  --blueish-white: #d7ecf2;
  --light-blue: #c5dce5;
}
a {
  text-decoration: none;
  color: var(--light-blue);
  font-size: 20px;
}
a:hover {
  color: white;
  text-shadow: 1px 1px 1px var(--night-blue);
}
body {
  display: flex;
  flex-direction: column;
  background-image: url(./workspaceImage.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  padding: 28px 0 10px 0;
  text-shadow: 1px 1px 1px var(--dark-blue);
}
h2 {
  margin: 0 12px 0 10px;
  text-shadow: 1px 1px 1px var(--night-blue);
}
hr {
  width: 80px;
  margin: 14px 0 4px 0;
  box-shadow: 3px 3px 3px var(--night-blue);
}
p {
  font-size: 15px;
}
text {
  font-size: 15px;
}

.contactInfo {
  text-align: center;
  font-family: Type of Chalk;
  font-size: 25px;
}
.fade-in-element {
  display: flex;
  animation: fade-in 1s;
}
.hidden {
  display: none;
  opacity: 0;
}
.invis {
  opacity: 0;
}
.main-project-img {
  width: 50px;
  height: 50px;
  padding: 0 30px 0 20px;
}
.project {
  flex-direction: row;
  min-height: 150px;
  width: 50%;
  margin: 10px;
}
.project-description {
  margin: 0 0px 0 10px;
}
.project-header {
  flex-direction: row;
  justify-content: center;
  padding: 0 0 10px 0;
}
.project-info {
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin: 15px 0 15px 0;
}
.project-link {
  margin: 0 8px 0 0;
}
.project-main-icon::before {
  font-size: 42px;
  padding: 0 30px 0 20px;
}
.welcome-link {
  margin: 0 8px;
}

#contact-container {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 10vh;
  margin: 30px 0 0 0;
  padding: 0 0 20px 0;
}
#description {
  font-size: 24px;
  text-shadow: 1px 1px 1px var(--night-blue);
}
#links-container {
  justify-content: space-around;
  height: 50px;
  width: 100%;
}
#name {
  text-align: center;
  margin: 10px 0 25px 0;
  font-size: 55px;
  font-family: Type of Chalk;
  /* color: var(--lighter-starship-green); */
  /* text-shadow: 5px 5px 5px var(--night-blue); */
}
#project-container {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  margin: 30px 0 0 0;
  padding: 0 0 20px 0;
}
#trivia {
  font-size: 20px;
  text-shadow: 1px 1px 1px var(--night-blue);
}
#welcome {
  flex-direction: column;
  min-height: 40vh;
  padding: 100px 0 0 0;
}
#welcome-text-container {
  flex-direction: column;
  min-height: 220px;
  padding: 35px 55px 12px 55px;
}
